# This file was partly modified by the lean package validator (http://git.io/lean-package-validator).

# Exclude build/test files from the release
.gitattributes export-ignore
.github/       export-ignore
.gitignore     export-ignore
LICENCE.md     export-ignore
mago.toml      export-ignore
phpunit.xml    export-ignore
README.md      export-ignore
tests/         export-ignore
UPGRADING.md   export-ignore
